#page{
	background-color: #e6e6e6;
	padding-top: 1px;
	padding-bottom: 5px;
	padding-left:15px;
}

#content{
	border-radius: 25px;
	margin-right: 10px;
	padding-left: 15px;
	padding-bottom: 5px;
}

#main{
	color: orange;
	font-style: oblique;
	padding-top: 5px;
}

#nav{
	position: absolute;
	right: 0;
	margin-right: -90px;
	margin-top: -45px;
	width: 500px;
}

#xd{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#mini{
	background-color: orange;
	border-radius: 25px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-top: 10px;
	display: inline;
}

#mini2{
color:white;
}
